<%= link_to 'Back', videos_path %>

<p id="notice"><%= notice %></p>

<%= image_tag(@video.youtube_thumbnail_url) %>

<p>
  <b>Title:</b>
  <%= @video.youtube_title %>
</p>

<p>
  <b>Published:</b>
  <%= @video.youtube_published_at %>
</p>

<p>
  <b>Description:</b>
  <%= @video.youtube_description %>
</p>

<p>
  <%= raw video_embed_html5(@video, {:class => 'video-player', :id => 'my-video', :width => '425', :height => '350', :frameborder => '1'}) %>
</p>
